.header {
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 1px 0 15px 1px #d6d6d6;
  -moz-box-shadow: 1px 0 15px 1px #d6d6d6;
  box-shadow: 1px 0 15px 1px #d6d6d6;
}
.nav-bar {
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.nav-bar .logo {
  float: left;
  height: 100%;
}
.nav-bar .logo img {
  display: block;
  height: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px 1px #ececec;
  -moz-box-shadow: 0 0 10px 1px #ececec;
  box-shadow: 0 0 10px 1px #ececec;
}
.nav-bar .nav {
  float: right;
  height: 100%;
  line-height: 40px;
}
.nav-bar .nav-item {
  display: inline-block;
  padding: 0 8px;
  margin: 0 12px;
  height: 30px;
  line-height: 30px;
  color: #099;
  font-weight: bold;
}
.nav-bar .nav-item.active {
  color: #00cccc;
}
.nav-bar .nav-item:hover {
  color: #00cccc;
}
.nav-bar .login {
  font-size: 20px;
  padding-right: 0;
  margin-right: 0;
}
.nav-bar .search {
  float: right;
  height: 40px;
  width: 130px;
  margin-right: 15px;
  position: relative;
  background: white;
  /*-webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;*/
}
.nav-bar .search input {
  padding: 8px 15px;
  font-size: 16px;
  height: 100%;
  width: 100%;
  color: #00dada;
}
.nav-bar .search input::placeholder {
  color: #dcdcdc;
  font-size: 14px;
}
.nav-bar .search i {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 16px;
  color: #dcdcdc;
  font-weight: 200;
}
.nav-bar .search.active {
  position: absolute;
  width: 50%;
  right: 0;
  margin-right: 0;
  -webkit-box-shadow: 0 0 2px 1px ;
  -moz-box-shadow: 0 0 2px 1px ;
  box-shadow: 0 0 2px 1px rgba(0, 191, 255, 0.31);
}
.nav-bar .search.active i {
  color: #099;
}
.main {
  margin-top: 30px;
}
.left {
  width: 30%;
  float: left;
  padding: 0 15px;
  /*-webkit-box-shadow: 0 0 15px #e1e1e1;
  -moz-box-shadow: 0 0 15px #e1e1e1;
  box-shadow: 0 0 15px 1px #e1e1e1;*/
}
.left .content {
  border: 1px solid #e3e3e3;
  height: 200px;
}
.right {
  width: 70%;
  float: left;
  padding: 0 15px;
  height: 200px;
  /*-webkit-box-shadow: 0 0 15px #e1e1e1;
  -moz-box-shadow: 0 0 15px #e1e1e1;
  box-shadow: 0 0 15px 1px #e1e1e1;*/
}
.right .content {
  border: 1px solid #e3e3e3;
  height: 200px;
}
