#notes {
  width: 100%;
}
.header,
.main,
.footer {
  width: 100%;
}
.header {
  background: #ffffff;
  -webkit-box-shadow: 1px 0 15px 1px #d6d6d6;
  -moz-box-shadow: 1px 0 15px 1px #d6d6d6;
  box-shadow: 1px 0 15px 1px #d6d6d6;
}
.nav-bar {
  width: 100%;
  height: 60px;
  padding: 10px 15px;
  position: relative;
}
.nav-bar .logo {
  float: left;
  height: 100%;
  padding: 3px 0;
  margin-left: 0.556rem;
}
.nav-bar .logo img {
  display: block;
  height: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px 1px #ececec;
  -moz-box-shadow: 0 0 10px 1px #ececec;
  box-shadow: 0 0 10px 1px #ececec;
}
.nav-bar .nav {
  float: right;
  height: 100%;
}
.nav-bar .nav-box {
  position: relative;
  float: left;
}
.nav-bar .nav-box:hover .dropDown {
  display: block;
}
.nav-bar .dropDown {
  display: none;
  width: auto;
  position: absolute;
  z-index: 2001;
  background: white;
}
.nav-bar .nav-item {
  padding: 0 0.278rem;
  margin: 5px 0.278rem;
  display: block;
  line-height: 30px;
  font-size: 1.111rem;
  color: #099;
  font-weight: bold;
}
.nav-bar .nav-item.active {
  color: #00cccc;
}
.nav-bar .nav-item:hover {
  color: #00cccc;
}
.nav-bar .login {
  font-size: 1.111rem;
}
.main {
  margin-top: 30px;
}
.con-right {
  height: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 3px 1px #dedede;
  -moz-box-shadow: 0 0 3px 1px #dedede;
  box-shadow: 0 0 3px 1px #dedede;
  border-radius: 5px;
}
.con-item {
  background: white;
  overflow: hidden;
  margin-bottom: 1.667rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px 1px #dedede;
  -moz-box-shadow: 0 0 3px 1px #dedede;
  box-shadow: 0 0 3px 1px #dedede;
}
.con-item.friends {
  margin-bottom: 0;
}
.con-item .title {
  height: 1.889rem;
  font-size: 0.889rem;
  line-height: 1.889rem;
  font-weight: normal;
  padding: 0 0.833rem;
  border-bottom: 1px solid #e3e3e3;
}
.con-item .title i {
  color: #099;
}
.con-item .title span {
  font-size: 0.778rem;
  font-style: italic;
  color: #999;
}
.con-item .content {
  padding: 0.556rem 0.833rem;
}
.con-item .contacts {
  text-align: center;
  font-size: 1.111rem;
  line-height: 1;
}
.con-item .contacts span,
.con-item .contacts a {
  display: inline-block;
  padding: 0.556rem;
  margin: 0.556rem;
  border-radius: 50%;
  width: 2.222rem;
  height: 2.222rem;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  cursor: pointer;
}
.con-item .contacts span:hover,
.con-item .contacts a:hover {
  -webkit-transform: scale(1.08, 1.08) rotate(360deg);
  -moz-transform: scale(1.08, 1.08) rotate(360deg);
  -ms-transform: scale(1.08, 1.08) rotate(360deg);
  -o-transform: scale(1.08, 1.08) rotate(360deg);
  transform: scale(1.08, 1.08) rotate(360deg);
}
.con-item .contacts .qq {
  background: #72dfff;
  color: white;
}
.con-item .contacts .wechat {
  background: #74c784;
  color: white;
}
.con-item .contacts .email {
  background: #198b66;
  color: white;
}
.con-item .contacts .github {
  background: #686868;
  color: white;
}
.tags .content a {
  display: inline-block;
  font-size: 0.778rem;
  padding: 0 3px;
  color: #888;
  border-radius: 2px;
}
.tags .content a:hover {
  background: #099;
  color: white;
}
.qr_code {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4000;
  background: rgba(0, 0, 0, 0.36);
}
.qr_code img {
  position: absolute;
  width: 200px;
  max-width: 50%;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.footer {
  padding: 30px 0 10px;
  color: #099;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
}
.footer .f-head {
  text-align: center;
  font-size: 0.889rem;
  color: #999;
  line-height: 24px;
}
.footer .f-head a {
  text-decoration: underline;
}
.footer .f-head a:hover {
  color: #099;
}
