h3,
h4,
h5,
p,
ul {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input,
button {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  outline: none;
  color: inherit;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
br {
  height: 0;
}
::selection {
  background: #e3e5ff;
}
html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #333;
}
body {
  width: 100%;
  min-width: 720px;
  margin: 0;
  background: #f5f5f5;
  font-family: "PingFang SC", "Helvetica neue", Helvetica, Tahoma, "lantinghei sc", "Microsoft Yahei", sans-serif;
  -webkit-font-smoothing: antialiased;
}
body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 2px;
}
body::-webkit-scrollbar-thumb {
  background: #b2b2b2;
  border-radius: 5px;
}
body::-webkit-scrollbar-track {
  background: #d4d4d4;
  border-radius: 3px;
}
.container {
  width: 720px;
  margin: 0 auto;
}
.row {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.clear::after {
  display: block;
  width: 0;
  height: 0;
  content: '';
  clear: both;
}
.left {
  width: 100%;
  float: left;
  padding: 0 15px;
}
.right {
  width: 100%;
  float: left;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  html {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
  .container {
    width: 960px;
  }
  .left {
    width: 30%;
  }
  .right {
    width: 70%;
    padding: 0 15px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
  html {
    font-size: 18px;
  }
}
@font-face {
  font-family: 'CormorantSC';
  src: url("../fonts/FrederickatheGreat-Regular.ttf") format('truetype');
  src: url("../fonts/FrederickatheGreat-Regular.eot") format('embedded-opentype');
  src: url("../fonts/FrederickatheGreat-Regular.otf") format('opentype');
  src: url("../fonts/FrederickatheGreat-Regular.svg") format('svg');
  src: url("../fonts/FrederickatheGreat-Regular.woff") format('woff');
  
  /*src: url("../fonts/CormorantSC-Regular.eot") format('embedded-opentype');
  src: url("../fonts/CormorantSC-Regular.otf") format('opentype');
  src: url("../fonts/CormorantSC-Regular.ttf") format('truetype');
  src: url("../fonts/CormorantSC-Regular.woff") format('woff');*/
}
