.container {
  width: 100%;
  min-width: 720px;
  margin: 0 auto;
}
.row {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  html {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 940px;
  }
  html {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
  html {
    font-size: 18px;
  }
}
@font-face {
  font-family: 'CormorantSC';
  src: url("../fonts/FrederickatheGreat-Regular.ttf") format('truetype');
  src: url("../fonts/FrederickatheGreat-Regular.eot") format('embedded-opentype');
  src: url("../fonts/FrederickatheGreat-Regular.otf") format('opentype');
  src: url("../fonts/FrederickatheGreat-Regular.svg") format('svg');
  src: url("../fonts/FrederickatheGreat-Regular.woff") format('woff');
  
  /*src: url("../fonts/CormorantSC-Regular.eot") format('embedded-opentype');
  src: url("../fonts/CormorantSC-Regular.otf") format('opentype');
  src: url("../fonts/CormorantSC-Regular.ttf") format('truetype');
  src: url("../fonts/CormorantSC-Regular.woff") format('woff');*/
}
